{% extends 'home/base.html' %}

{% block title %}
Skills | Jeff Gabriel Yowan
{% endblock %}


{% block content %}

<div class="page-number">04 // TOOLKIT</div>

<h1 class="page-title">
    SKILLS
</h1>

<p class="page-subtitle">
    TECHNOLOGIES // TOOLS // TECHNICAL FOUNDATION
</p>


<div class="content-card">

    <h2>Programming</h2>

    <div class="content-grid">

        <div class="skill">Python</div>
        <div class="skill">SQL</div>
        <div class="skill">HTML</div>
        <div class="skill">CSS</div>
        <div class="skill">JavaScript</div>

    </div>

</div>


<div class="content-card">

    <h2>Data & AI</h2>

    <div class="content-grid">

        <div class="skill">Machine Learning</div>
        <div class="skill">Data Analytics</div>
        <div class="skill">Computer Vision</div>
        <div class="skill">NumPy</div>
        <div class="skill">Pandas</div>

    </div>

</div>


<div class="content-card">

    <h2>Tools & Technologies</h2>

    <div class="content-grid">

        <div class="skill">Django</div>
        <div class="skill">MySQL</div>
        <div class="skill">Power BI</div>
        <div class="skill">Git</div>
        <div class="skill">CVAT</div>

    </div>

</div>

{% endblock %}